.card1 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
}



.card2 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: 25px 25px 0px 0px;
}



.card3 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: 25px 25px 0px 0px
}



.card4 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: 25px 25px 0px 0px
}

.card5 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -440px 180px 180px 180px
}

.card6 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: -155px 180px 180px 180px
}

.card7 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: -155px 180px 180px 180px
}

.card8 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24);
    margin: -155px 180px 180px 180px
}

.card9 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -620px 360px 360px 360px
}

.card10 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -335px 360px 360px 360px
}

.card11 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -335px 360px 360px 360px
}

.card12 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -685px 540px 540px 540px
}

.card13 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -515px 540px 540px 540px
}

.card14 {
    width: 150px;
    height: 90px;
    border: 1px solid orange;
    border-radius: 10px;
    background-position: right top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 24, 24); 
    margin: -515px 540px 540px 540px
}


